html {
  font-family: Helvetica, Arial;
}

#video-main, #tool-plate {
  float: left;
}

#tool-plate {
  margin-left: 74px;
}

.row label, .row select {
  font-size: 20px;
}

.col-50 {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 10px;
}

.col-50 select {
  width: 110px;
}

#mood-list {
  margin-top: 36px;
}

.mood-btn {
  display: inline-block;
  margin-right: 18.5px;
  margin-bottom: 20px;
  width: 123px;
  height: 41px;
  background: #fff;
  border: 1px solid #979797;
  border-radius: 21px;
  font-size: 14px;
  text-align: center;
  line-height: 41px;
}

#certainty {
  width: 417px;
  text-align: center;
  margin-top: 100px;
}

#most-certain {
  float: left;
}

#certainty-input {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

#certainty-input input {
  margin: 0 10px;
}

#certainty-input input + span {
  position: absolute;
  top: 30px;
  transform: translateX(-230%);
}

#certainty-group {
  float: left;
}

#least-certain {
  float: right;
}

#certainty-text {
  clear: both;
}
